$color: rgb(207, 166, 127);
$dbg-btn-color: rgb(204, 163, 110);
body {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    background-image: url(../img/Desert_Camo_Gulf_War_Style.svg);
    #choice-buttons {
        padding: 0;
        .btn-group {
            display: flex;
            justify-content: space-between;
            &#btnGroup> button{
                &:hover {
                    cursor: pointer;
                    background-color: darken($color, 20%);
                }
                flex-basis: 25%;
                font-weight: 400;
                font-size: 14px;
                padding: 6px 12px;
                border: 1px solid transparent;
                background-color: $color;
            }
            &#debugBtn>button {
                &:hover {
                    cursor: pointer;
                    background-color: darken($dbg-btn-color, 20%);
                }
                flex-basis: 50%;
                font-weight: 400;
                font-size: 14px;
                padding: 6px 12px;
                border: 1px solid transparent;
                background-color: $dbg-btn-color;
            }
        }
    }
    .game-container {
        position: relative;
        padding: 0;
        display: flex;
        justify-content: center;
        height: 60%;
        #minesweeper {
            display: none;
            border: solid 1px grey;
            flex-wrap: nowrap;
            margin: auto;
            padding: 2px 1px 2px 1px;
            background-color: $color;
            #gameCounter {
                padding-bottom: 5px;
                
                display: flex;
                & > .counterImg {
                    display: flex;
                    flex: 1;
                }
                &:first-child {
                    justify-content: flex-start;
                    div {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
                #faceBtn {
                    img {
                        display:block;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                &:last-child {
                    justify-content: flex-end;
                    div {
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
            }
            #game {
                padding: 0;
                & > .row {
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 0 1px 0 1px;
                    &> img {
                        margin: 0 1px 0 1px;
                    }
                }
            }
        }
    }
}